@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(#eaf8ff, #4193ff);
}

.header {
  overflow: hidden;
  background-color: #1477fa;
  padding-left: 10px;
}

.header img {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  width: 40vw;
}

.header .search-container {
  float: right;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}

.header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #ccc;
}


#mapScr {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
  .mapScr-left {
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
  }
  
  .mapScr-right {
    float: right;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  
  .mapScr-right-top {
    background-color: #f1f1f112;
    border-style: solid;
    border-width: 2px;
    border-color: #00721b;
    border-radius: 10px;
    height: 30vh;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  
  .mapScr-right-bottom {
    background-color: #f1f1f112;
    border-style: solid;
    border-width: 2px;
    border-color: #00721b;
    border-radius: 10px;
    height: 30vh;
    margin-top: 3vh;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .mapScr img {
    width: 90%;
    margin: 20px;
  }

  @media screen and (max-width: 500px) { 
    .mapScr-left {
      width: 100%;
      height: auto;
    }
  
    .mapScr-right {
      width: 100%;
      height: auto;
    }

    .header img {
      width: 30vh;
    }
  }

#searchScr {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
}

#myInput {
    width: -webkit-fill-available;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    }
    
    
    #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    }
    
    #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
    }
    
    #myTable tr {
    border-bottom: 1px solid #ddd;
    }
    
    #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
    }
    
#introScr {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
}

#introScr p {
    font-size: 25px;
    text-align: justify;
    padding: 20px;
}

#slideshow { 
    position: relative; 
    width: 100vw; 
    height: 240px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    text-align: center;
    background-color: white;
  }
  
  #slideshow > div { 
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #slideshow > div > img {
      height: 240px;
  }

.action{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.action span{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d6cfc;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
}

.action.active span{
    transform: rotate(135deg);
}

.action ul{
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 250px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.action.active ul{
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.action ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 10px;
    transition: 0.3s;
}

.action ul li:hover{
    font-weight: 600;
}

.action ul li:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li img{
    width: 25px;
    margin-right: 10px;
    transform: scale(0.8);
}

.action ul li:hover img{
    opacity: 0.8;
}


.pin {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: 115px;
  
  border-radius: 50%;
  border: 8px solid #fff;
  width: 8px;
  height: 8px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #fff;
}